<div class="dashboard-wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" class="bg-primary text-white">
    <div class="sidebar-header">
      <h3>SupportIT</h3>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/technicians" routerLinkActive="active">
          <i class="bi bi-person"></i> Technicien
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">
          <i class="bi bi-people"></i> Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/equipment-list" routerLinkActive="active">
          <i class="bi bi-tools"></i> Équipements
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/panne-list" routerLinkActive="active">
          <i class="bi bi-exclamation-triangle"></i> Pannes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tickets" routerLinkActive="active">
          <i class="bi bi-ticket"></i> Tickets
        </a>
      </li>
      <button class="btn btn-danger" (click)="onLogout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </ul>
  </nav>

  <main class="content">
    <header class="content-header">
      <h1>Welcome to the Dashboard</h1>
    </header>
   

    <div>
      
<router-outlet></router-outlet>
    </div>
    
  </main>
</div>
