<div class="container">
    <h2>Equipment List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Image</th>
          <th>Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of equipmentList">
          <td>{{ equipment.nom }}</td>
          <td>{{ equipment.description }}</td>
          <td><img [src]="equipment.image" alt="Equipment image" style="max-width: 100px; max-height: 100px;"></td>
          <td>{{ equipment.etat }}</td>
        </tr>
      </tbody>
    </table>
  </div>